@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 354 26% 95%;
    --foreground: 354 5% 10%;
    --card: 354 26% 90%;
    --card-foreground: 354 5% 15%;
    --popover: 354 26% 95%;
    --popover-foreground: 354 95% 10%;
    --primary: 354 94% 33%;
    --primary-foreground: 0 0% 100%;
    --secondary: 354 26% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 316 26% 85%;
    --muted-foreground: 354 5% 35%;
    --accent: 316 26% 80%;
    --accent-foreground: 354 5% 15%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 354 5% 90%;
    --border: 354 26% 50%;
    --input: 354 26% 29%;
    --ring: 354 94% 33%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 354 26% 10%;
    --foreground: 354 5% 90%;
    --card: 354 26% 10%;
    --card-foreground: 354 5% 90%;
    --popover: 354 26% 5%;
    --popover-foreground: 354 5% 90%;
    --primary: 354 94% 33%;
    --primary-foreground: 0 0% 100%;
    --secondary: 354 26% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 316 26% 25%;
    --muted-foreground: 354 5% 60%;
    --accent: 316 26% 25%;
    --accent-foreground: 354 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 354 5% 90%;
    --border: 354 26% 29%;
    --input: 354 26% 29%;
    --ring: 354 94% 33%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
